body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	background-color: white;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
input {
	outline: none;
}
textarea {
	outline: none;
}
.main-header {
	background-color: #eeeeee;
}
.main-header h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: black;
}
.main-header-logo-inner:hover {
	opacity: 0.8;
}
.main-header-logo-inner:active {
	opacity: 0.3;
}
.site-navigation-item a,
.cart-link a {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: black;
	text-transform: uppercase;
}
.site-navigation-item a:hover,
.cart-link a:hover {
	color: #fb565a;
}	
.site-navigation-item a:active,
.cart-link a:active {
	color: #bdbdbd;
}
.site-navigation-item-current a,
.site-navigation-item-current a:hover,
.site-navigation-item-current a:focus,
.site-navigation-item-current a:active {
	border-bottom: 1px solid #fb565a;
}
.slide {
	background-color: #eeeeee;
	background-image: url("img/slider-background.png");	  
}
.slide h3 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: black;
}
.btn {
	font-size: 16px;
	line-height: 18px;
	color: white;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}
.slide .btn {
	background-color: #fb565a;
}
.slide .btn:hover {
	background-color: #e74246;
}
.slide .btn:active {
	background-color: #d7373b;
}
.features-item h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: black;
}
.features-list .btn {
	background-color: #fb565a;
}
.features-list .btn:hover {
	background-color: #e74246;
}
.features-list .btn:active {
	background-color: #d7373b;
}
.features-item:nth-child(2) .btn {
	background-color: #00ca74;
}
.features-item:nth-child(2) .btn:hover {
	background-color: #00bc6c;
}
.features-item:nth-child(2) .btn:active {
	background-color: #00aa62;
}
.features-item:nth-child(3) .btn {
	background-color: #efc84a;
}
.features-item:nth-child(3) .btn:hover {
	background-color: #eab534;
}
.features-item:nth-child(3) .btn:active {
	background-color: #e5a722;
}
.filtres fieldset {
	border: none;
}
.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: black;
	text-transform: uppercase;
}
.filter ul {
	list-style: none;
	line-height: 20px;
}
.filter-input:hover + label {
	color: black;
}
.filter-input:disabled + label {
	color: #283136;
	opacity: 0.5;
}
.filter-button {
	color: black;
	background-color: #eeeeee;
}
.filter-button:hover {
	color: black;
	background-color: #dfdfdf;
}
.filter-button:active {
	color: black;
	background-color: #d5d5d5;
	opacity: 0.3;
	box-shadow: inset 0 1px 0 1px #bfbfbf;
}
.about h3 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: black;
}
.about p:nth-of-type(2), p:nth-of-type(3) {
	font-weight: 700;
	text-transform: uppercase;
}
.about-features-num {
	font-size: 45px;
	line-height: 10px;
	font-weight: 700;
	color: black;
}
.about-features-text {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}
.gallery p {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: black;
	text-transform: uppercase;
}
.gallery a {
	color: black;
}
.gallery-sort, .arrow {
	opacity: 0.3;
}
.gallery-sort:hover, .arrow:hover {
	opacity: 0.6;
}
.gallery-sort:active, .arrow:active {
	opacity: 1;
}
.partners-item a {
	opacity: 0.2;
}
.partners-item a:hover {
	opacity: 1;
}
.partners-item a:active {
	opacity: 0.1;
}
.pagination-list {
	list-style: none;
}
.pagination-item a {
	color: black;
	background-color: #eeeeee;
}
.pagination-item a:hover {
	color: black;
	background-color: #dfdfdf;
}
.pagination-item a:active {
	color: black;
	background-color: #d5d5d5;
	opacity: 0.3;
	box-shadow: inset 0 1px 0 1px #bfbfbf;
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: black;
	background-color: white;
	border: 1px solid #dbdbdb;
}
.map h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.map-contacts {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}
.map .btn {
	background-color: #fb565a;
}
.social-button {
	background-color: #e1e1e1;		
}
.social-button:hover {
	background-color: #e74246;		
}
.social-button:active {
	background-color: #d7373b;		
}
.footer-social p:first-of-type {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: black;
}
.footer-social p:last-of-type {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}
.modal h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: black;
}
.feedback-form {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: black;	
}
.feedback-form .btn {
	background-color: #fb565a;	
}
.modal-close {
	opacity: 0.3;
}
.modal-close:hover {
	opacity: 1;
}
.feedback-form input:focus {
	border-color: black;
}
.feedback-form textarea:focus {
	border: 2px solid black;	
}
