body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	background-color: white;
	min-width: 1200px;
}
a {
	text-decoration: none;
	display: inline-block;
}
ul {
	list-style: none;
}
input {
	outline: none;
}
textarea {
	outline: none;
}
.main-header {
	background-color: #eeeeee;
	margin: 0 auto;
	width: 1200px;
}
.main-header-inner {
	background-color: #eeeeee;
	margin: 0 auto;
	width: 1200px;
	padding-bottom: 71px;		
}
.main-header-inner h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: black;
	margin-top: 57px;	
	text-align: center;
}
.main-header-logo-inner:hover {
	opacity: 0.8;
}
.main-header-logo-inner:active {
	opacity: 0.3;
}
.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 49px;	
	padding-left: 20px;	
	padding-right: 20px;
	padding-bottom: 15px;
}
.main-navigation ul {	
	padding-left: 0;
}
.visualy-hidden {
	display: none;
}
main {
	width: 1200px;
	margin: 0 auto;	
}
.container {
	width: 1200px;
	padding: 0;
	margin: 0 auto;	
}
.user-navigation {
	margin: 0;
	margin-top: 10px;
}
.site-navigation {
	display: flex;
	justify-content: space-between;
	width: 440px;	
	margin: 0;	
	margin-top: 10px;
	margin-left: -84px;		
}
.site-navigation-item a,
.cart-link a {	
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: black;
	text-transform: uppercase;
}
.cart-link {
	position: relative;
}
.cart-link:before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	top: 7px;
	left: -41px;
	background-image: url("../img/cart-icon.svg");
	background-position: 0 0;
	
}
.site-navigation-item a[href]:hover,
.cart-link a[href]:hover {
	color: #fb565a;
}	
.site-navigation-item a[href]:active,
.cart-link a[href]:active {
	color: #bdbdbd;
}
.site-navigation-item-current a,
.site-navigation-item-current a:hover,
.site-navigation-item-current a:focus,
.site-navigation-item-current a:active {
	border-bottom: 1px solid #fb565a;
}
.catalog-columns {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;	
	margin-top: 55px;
}
.slide {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	padding-bottom: 80px;
	background-color: #eeeeee;
	background-image: url("../img/slider-background.png");
}
.slide a {	
	width: 240px;
}
.slide-text h3 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: black;
	margin-top: 70px;
	margin-bottom: 25px;
}
.slide-text p {
	margin: 0;
	margin-bottom: 40px;
}
.slide-image {
	position: absolute;	
}
.text-one {
	width: 380px;
	margin-top: -13px;
}
.image-one {
	top: -3px;
	left: 450px;
}
.text-two {
	width: 520px;
}
.image-two {
	left: 495px;
}
.text-three {
	width: 415px;
}
.image-three {
	left: 400px;
}
.btn {
	font-size: 16px;
	line-height: 18px;
	color: white;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}
.btn-link {
	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: 3px;
}
.slide .btn {
	background-color: #fb565a;	
}
.slide .btn:hover {
	background-color: #e74246;
}
.slide .btn:active {
	background-color: #d7373b;
}
.features {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
	margin-top: 80px;
	border-bottom: 2px solid #eeeeee;
}
.features ul {
	margin: 0;
}
.features-list {
	display: flex;
	padding-left: 0;	
}
.features-list .btn-link {
	margin-top: 16px;
}
.features-item h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: black;
	margin: 0;
	margin-top: 19px;
}
.features-item {
	width: 300px;
	padding-right: 100px;
}
.features-item a {
	width: 160px;
}
.features-item-site .btn {
	background-color: #fb565a;
}
.features-item-site .btn:hover {
	background-color: #e74246;
}
.features-item-site .btn:active {
	background-color: #d7373b;
}
.features-item-app .btn {
	background-color: #00ca74;
}
.features-item-app .btn:hover {
	background-color: #00bc6c;
}
.features-item-app .btn:active {
	background-color: #00aa62;
}
.features-item-presentation .btn {
	background-color: #efc84a;
}
.features-item-presentation .btn:hover {
	background-color: #eab534;
}
.features-item-presentation .btn:active {
	background-color: #e5a722;
}
.about {	
	margin-top: 40px;
	padding-bottom: 75px;
	border-bottom: 2px solid #eeeeee;
}
.about h3 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: black;
}
.about-block {
	display: flex;
	justify-content: space-between;	
}
.about-block-left {
	width: 660px;
	flex-direction: column;
	padding-left: 20px;	
}
.about-block-left h3 {
	margin: 0;
	margin-top: 34px;	
}
.about-block-left p {
	margin: 0;
	margin-top: 32px;
	margin-bottom: 40px;
}
.about-block-left p:nth-of-type(2) {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 23px;
}
.about-list {
	margin: 0;
	padding-left: 35px;
}
.about-item {
	position: relative;
	margin-bottom: 24px;
}
.about-item:last-child {
	margin: 0;
}
.about-item:before {
	position: absolute;
	content: "";
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	top: 12px;
	left: -34px;
}
.about-block-right {
	width: 360px;	
	padding-right: 20px;
}
.about-block-right p:nth-of-type(1) {
	font-weight: 700;
	text-transform: uppercase;
	padding-left: 17px;
	margin: 0;
	margin-top: 30px;
}
.about-features {
	display: block;
	padding: 0;
	margin: 0;
	margin-top: 58px;	
}
.about-features-num {
	font-size: 45px;
	line-height: 10px;
	font-weight: 700;
	color: black;
	margin-right: 17px;
}
.about-features-num:last-of-type {
	margin: 0;
}
.about-features-num sup {
	font-size: 62%;
}
.about-features-text {
	display: flex;	
	width: 360px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;	
	margin-top: 19px;
}
.about-features-text span {
	margin-right: 24px;
}
.about-features-text span:last-of-type {
	margin-right: 0px;
}
.filtres {
	width: 260px;
	height: 770px;
}
.filter-item {
	padding: 0;
	margin: 0;
	margin-bottom: 54px;
	border: none;
}
.filter-item + .grid {
	margin-bottom: 25px;
}
.filter-item + .features {
	margin-bottom: 28px;
}
.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: black;
	text-transform: uppercase;		
	margin-bottom: 19px;
}
.filter-item legend {
	padding-top: 4px;
}
.filter ul {
	padding: 0;
	margin: 0;
}
.filter-option {	
	margin-bottom: 20px;
	padding-left: 35px;
}
.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;  
}
.filter-input-radio + label::before {
	content: "";
	position: absolute;
	left: -35px;
	width: 26px;
	height: 26px;
	background-image: url("../img/radio-off.svg");
	
}
.filter-input-radio:checked + label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: -35px;
	width: 26px;
	height: 26px;
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
}
.filter-features {
	padding-top: 3px;
}
.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -42px;
	top: 0;
	width: 28px;
	height: 28px;
	border: 2px solid #000000;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -38px;
  width: 24px;
  height: 24px;  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.range-filter {
  width: 260px;
  margin-top: 32px;
}
.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
	position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}
.range-controls .toggle {
	position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}
.price-controls input {
	width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.max-price {
  text-align: right;
}
.filter ul {
	list-style: none;
	line-height: 20px;
}
.filter-input:hover + label {
	color: black;
}
.filter-input:disabled + label {
	color: #283136;
	opacity: 0.5;
}
.filter-button {
	color: black;
	background-color: #eeeeee;
	width: 260px;
	height: 50px;
	padding: 0;	
	border-radius: 3px;
	cursor: pointer;
}
.filter-button:hover {
	color: black;
	background-color: #dfdfdf;
}
.filter-button:active {
	color: black;
	background-color: #d5d5d5;
	opacity: 0.3;
	box-shadow: inset 0 1px 0 1px #bfbfbf;
}

.gallery {
	width: 760px;
}
.gallery p {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: black;
	text-transform: uppercase;
}
.gallery-sort-block a {
	font-size: 14px;
	line-height: 18px;
	color: black;
	margin-right: 26px;
	text-transform: uppercase;
}
.gallery-sort-block {
	display: flex;
	margin: 0;
	margin-bottom: 56px;
	padding-top: 3px;
	align-items: baseline;
}
.gallery-sort-block p {
	margin: 0;
	margin-right: 266px;
}
.gallery-sort-block a:nth-child(4) {
	margin-right: 45px;
}
.gallery-sort-block a:nth-child(5) {
	margin-right: 18px;
}
.gallery-sort-block a:nth-child(6) {
	margin-right: 0;
}
.gallery-sort, .arrow {
	opacity: 0.3;
}
.gallery-sort:hover, .arrow:hover {
	opacity: 0.6;
}
.gallery-sort:active, .arrow:active {
	opacity: 1;
}
.gallery-item {
	display: flex;
	width: 760px;
	justify-content: space-between;
	margin: 0;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.gallery-items {
	width: 360px;
	margin: 0;
	margin-bottom: 20px;	
}
.gallery-items:nth-child(2n) {
	margin-right: 0;
}

.partners {	
	padding-top: 51px;
	padding-bottom: 32px;
	border-bottom: 2px solid #eeeeee;
}
.partners-list {
	display: flex;
	justify-content: space-around;
	align-items: center;	
	margin: 0;
	padding-left: 0;
}
.partners-item {
	position: relative;
}
.partners-item a {
	opacity: 0.2;
}
.partners-item a:hover {
	opacity: 1;
}
.partners-item a:active {
	opacity: 0.1;
}
/*.partners-item::before {
	position: absolute;
	content: "";
	width: 2px;
	height: 45px;	
	background-color: #eeeeee;
}*/
.pagination-list {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	height: 50px;
	margin-bottom: 60px;
}
.pagination-list li {
	margin-right: 11px;
}
.pagination-item a {
	display: inline-block;
	width: 50px;
	height: 38px;
	text-align: center;
	padding-top: 13px;
	color: black;
	background-color: #eeeeee;
	border-radius: 3px;		
}
.pagination-item:nth-child(4) a {
	width: 260px;
	text-transform: uppercase;
	margin-right: 0;
}
.pagination-item a:hover {
	color: black;
	background-color: #dfdfdf;
}
.pagination-item a:active {
	color: black;
	background-color: #d5d5d5;
	opacity: 0.3;
	box-shadow: inset 0 1px 0 1px #bfbfbf;
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	width: 46px;
	height: 34px;
	color: black;
	background-color: white;
	border: 2px solid #dbdbdb;
	border-radius: 3px;
}
.map {
	position: relative;
	width: 1200px;
	margin: 0 auto;	
}
.contacts {
	position: absolute;
	left: 20px;
	top: 55px;	
	max-width: 320px;	
	background-color: white;
	padding: 48px 50px 47px 50px;	
}
.contacts h4 {
	margin: 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.contacts p:nth-child(3) {
	margin: 0;
	margin-top: 14px;
	margin-bottom: 35px;
}
.map-contacts {
	padding: 0;
	margin: 0;
	margin-top: 23px;	
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}
.map-marker {
	position: absolute;
	left: 700px;
	top: 89px;
}
.btn-contacts {	
	width: 220px;	
	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: 3px;
}
.map .btn {
	background-color: #fb565a;
}
.map .btn:hover {
	background-color: #e74246;
}
.map .btn:active {
	background-color: #d7373b;
}
.social-button {
	background-color: #e1e1e1;		
}
.social-button:hover {
	background-color: #e74246;		
}
.social-button:active {
	background-color: #d7373b;
	background-image: opacity 0.3;	
}
.main-footer {
	margin: 0 auto;
	width: 1200px;
	height: 220px;
	margin: 0 auto;
}
.main-footer .container {
	display: flex;	
	padding-top: 63px;
}
.footer-social {
	margin-right: 140px;
}
.footer-social p:first-of-type {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: black;
	margin: 0;
	margin-top: 6px;
}
.footer-social p:last-of-type {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	margin: 0;
	margin-top: 9px;
}
.social-list {
	display: flex;
	width: 260px;
	margin: 0;
	padding-left: 20px;
}
.social-list li {
	padding-right: 10px;
}
.social-list li:last-of-type {
	padding-right: 0;
}
.social-button {
	display: flex;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}
.social-button:active path {
	fill: #e37376;	
}
.modal {
	position: fixed;
	display: flex;		
}
.modal-feedback {
	display: flex;
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;			
	width: 820px;
	margin: 0 auto;
	background-color: white;
	background-image: url("../img/white-back.png");
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);	
	padding: 53px 70px 0 70px;
	bottom: 20px;
	left: 50%;
	margin-left: -480px;

}
.modal-feedback h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: black;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}
.modal-close {
	position: absolute;
	left: 880px;
	border: none;
	background: none;	
	margin: 0;
	padding: 0;
	opacity: 0.3;
	outline: none;
}
.modal-close:hover {
	opacity: 1;
}
.feedback-form {
	display: flex;
	flex-wrap: wrap;	
	margin-bottom: 85px;
	justify-content: space-between;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: black;	
}
.feedback-form .btn {
	background-color: #fb565a;	
}
.feedback-form .btn:hover {
	background-color: #e74246;	
}
.feedback-form .btn:active {
	background-color: #d7373b;	
}
.feedback-form input:focus {
	border-color: black;
}
.feedback-form textarea:focus {
	border: 2px solid black;	
}
.modal .caption {
	width: 360px;
}
.modal .button {
	width: 25px;
	height: 25px;
}
.feedback-item {
	width: 360px;
	margin: 0;
	margin-bottom: 90px;	
}
.feedback-item-area {
	width: 760px;
	margin: 0;
	margin-bottom: 45px;
}
.feedback-item-area textarea {
	margin-top: 10px;
	padding: 15px;
	border: 2px solid #d7dcde;
	border-radius: 3px;
}
.modal .input {
	width: 326px;	
	padding: 15px;
	margin-top: 10px;
	border: 2px solid #d7dcde;
	border-radius: 3px;
}
.modal-btn {
	width: 260px;
	height: 50px;
	border-radius: 3px;
	cursor: pointer;
}