body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	background-color: white;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
input {
	outline: none;
}
textarea {
	outline: none;
}
.main-header {
	background-color: #eeeeee;
	margin: 0 auto;
}
.main-header-inner {
	background-color: #eeeeee;
	margin: 0 auto;
}
.main-header-inner h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: black;
	margin-top: 80px;
	margin-bottom: 115px;
	text-align: center;
}
.main-header-logo-inner:hover {
	opacity: 0.8;
}
.main-header-logo-inner:active {
	opacity: 0.3;
}
.main-navigation ul {
	padding-left: 0;
}
.visualy-hidden {
	display: none;
}
.site-navigation-item a,
.cart-link a {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: black;
	text-transform: uppercase;
}
.site-navigation-item a[href]:hover,
.cart-link a[href]:hover {
	color: #fb565a;
}	
.site-navigation-item a[href]:active,
.cart-link a[href]:active {
	color: #bdbdbd;
}
.site-navigation-item-current a,
.site-navigation-item-current a:hover,
.site-navigation-item-current a:focus,
.site-navigation-item-current a:active {
	border-bottom: 1px solid #fb565a;
}
.slide {
	background-color: #eeeeee;
	background-image: url("../img/slider-background.png");	  
}
.slide h3 {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: black;
}
.btn {
	font-size: 16px;
	line-height: 18px;
	color: white;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}
.slide .btn {
	background-color: #fb565a;
}
.slide .btn:hover {
	background-color: #e74246;
}
.slide .btn:active {
	background-color: #d7373b;
}
.features-item h3 {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: black;
}
.features-item-site .btn {
	background-color: #fb565a;
}
.features-item-site .btn:hover {
	background-color: #e74246;
}
.features-item-site .btn:active {
	background-color: #d7373b;
}
.features-item-app .btn {
	background-color: #00ca74;
}
.features-item-app .btn:hover {
	background-color: #00bc6c;
}
.features-item-app .btn:active {
	background-color: #00aa62;
}
.features-item-presentation .btn {
	background-color: #efc84a;
}
.features-item-presentation .btn:hover {
	background-color: #eab534;
}
.features-item-presentation .btn:active {
	background-color: #e5a722;
}
.filtres fieldset {
	border: none;
}
.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: black;
	text-transform: uppercase;
}
.filter ul {
	list-style: none;
	line-height: 20px;
}
.filter-input:hover + label {
	color: black;
}
.filter-input:disabled + label {
	color: #283136;
	opacity: 0.5;
}
.filter-button {
	color: black;
	background-color: #eeeeee;
}
.filter-button:hover {
	color: black;
	background-color: #dfdfdf;
}
.filter-button:active {
	color: black;
	background-color: #d5d5d5;
	opacity: 0.3;
	box-shadow: inset 0 1px 0 1px #bfbfbf;
}
.about h3 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: black;
}
.left p:nth-of-type(2) {
	font-weight: 700;
	text-transform: uppercase;
}
.right p {
	font-weight: 700;
	text-transform: uppercase;
}
.about-features-num {
	font-size: 45px;
	line-height: 10px;
	font-weight: 700;
	color: black;	
}
.about-features-text {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}
.gallery p {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: black;
	text-transform: uppercase;
}
.gallery a {
	color: black;
}
.gallery-sort, .arrow {
	opacity: 0.3;
}
.gallery-sort:hover, .arrow:hover {
	opacity: 0.6;
}
.gallery-sort:active, .arrow:active {
	opacity: 1;
}
.partners-item a {
	opacity: 0.2;
}
.partners-item a:hover {
	opacity: 1;
}
.partners-item a:active {
	opacity: 0.1;
}
.pagination-list {
	list-style: none;
}
.pagination-item a {
	color: black;
	background-color: #eeeeee;
	border-radius: 3px;
}
.pagination-item a:hover {
	color: black;
	background-color: #dfdfdf;
}
.pagination-item a:active {
	color: black;
	background-color: #d5d5d5;
	opacity: 0.3;
	box-shadow: inset 0 1px 0 1px #bfbfbf;
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: black;
	background-color: white;
	border: 2px solid #dbdbdb;
	border-radius: 3px;
}
.map h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.map-contacts {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}
.map .btn {
	background-color: #fb565a;
}
.map .btn:hover {
	background-color: #e74246;
}
.map .btn:active {
	background-color: #d7373b;
}
.social-button {
	background-color: #e1e1e1;		
}
.social-button:hover {
	background-color: #e74246;		
}
.social-button:active {
	background-color: #d7373b;		
}
.main-footer {
	margin: 0 auto;
}
.footer-social p:first-of-type {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: black;
	margin: 0;
}
.footer-social p:last-of-type {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}
.modal h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: black;
	margin: 0;
	padding: 0;
}
.feedback-form {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	color: black;	
}
.feedback-form .btn {
	background-color: #fb565a;	
}
.feedback-form .btn:hover {
	background-color: #e74246;	
}
.feedback-form .btn:active {
	background-color: #d7373b;	
}
.modal-close {
	opacity: 0.3;
}
.modal-close:hover {
	opacity: 1;
}
.feedback-form input:focus {
	border-color: black;
}
.feedback-form textarea:focus {
	border: 2px solid black;	
}

/*------Сеточные стили----- */

.main-header {
	width: 1200px;
}
.main-header-inner {
	width: 1200px;
	height: 360px;
}
.container {
	width: 1200px;
	padding: 0;
	margin: 0 auto;	
}
.main-navigation {
	display: flex;
	justify-content: space-between;
	padding-top: 45px;	
	padding-left: 20px;	
	padding-right: 20px;
	padding-bottom: 15px;
}
.site-navigation {
	display: flex;	
}
.site-navigation li {
	padding-right: 50px;
}
.slide {
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
}
.slide-text {
	width: 380px;
	height: 420px;
	margin-right: 20px;	
}
.slide-image {
	width: 760px;
}
.features {
	height: 510px;
}
.features-list {
	display: flex;
	justify-content: space-between;	
	padding-left: 20px;
	padding-right: 20px;
}
.features-item {
	width: 300px;
}
.about {
	height: 530px;
}
.about-block {
	display: flex;
	justify-content: space-between;
}
.about-block-left {
	width: 660px;
	flex-direction: column;
	padding-left: 20px;	
}
.about-block-right {
	width: 360px;
	flex-direction: column;
	padding-right: 20px;
}
.right p {
	align-self: center;
}
.about-features {
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: space-between;
}
.about-features li{
	width: 103px;
}

.main-footer {
	width: 1200px;
	height: 220px;
	margin: 0 auto;
}
.partners {
	height: 180px;
}
.partners-list {
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: space-around;
}
.map {
	background-color: #eeeeee;
}
.contacts {
	display: flex;
	flex-direction: column;	
	width: 270px;
	height: 260px;
	background-color: white;
	padding: 50px;
}
.btn-contacts {	
	width: 220px;
	height: 34px;
	padding-top: 16px;
	border-radius: 3px;
}
.main-footer .container {
	display: flex;	
	padding-top: 70px;
}
.footer-social {
	margin-right: 140px;
}
.social-list {
	display: flex;
	width: 260px;	
	padding: 0;
	justify-content: space-around;
	align-items: center;
	
}
.modal .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	padding: 75px 100px;	
	background-color: #eeeeee;
} 
.modal-feedback {
	display: flex;
	width: 960px;
	height: 590px;
}
.modal-close {
	border: none;
	background: none;	
	margin: 0;
	padding: 0;
}
.modal .caption {
	width: 360px;
}
.modal .button {
	width: 25px;
	height: 25px;
}
.modal .feedback-form {
	display: flex;
	flex-direction: column;
	width: 960px;
}
.modal .input {
	width: 326px;	
	padding: 15px;
}
.modal-input {
	width: 360px;
}
.modal-btn {
	width: 260px;
	height: 50px;
	border-radius: 3px;
}
.filtres {
	width: 260px;
	height: 770px;
}
.gallery {
	width: 760px;
}
.gallery-sort-block {
	display: flex;
	margin: 0;
	margin-bottom: 60px;
	align-items: baseline;
}
.gallery-sort-block p {
	margin: 0;
	margin-right: auto;
}
.gallery-sort-block a {
	margin-right: 25px;
}
.gallery-sort-block a:nth-child(4) {
	margin-right: 50px;
}
.gallery-sort-block a:nth-child(5) {
	margin-right: 15px;
}
.gallery-sort-block a:nth-child(6) {
	margin-right: 0;
}
.gallery-item {
	display: flex;
	width: 760px;
	justify-content: space-between;
	margin: 0;
	flex-wrap: wrap;
	margin-bottom: 60px;
}
.gallery-items {
	width: 360px;
	margin: 0;
	margin-bottom: 35px;	
}
.gallery-items:nth-child(2n) {
	margin-right: 0;
}
.catalog-columns {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}
.pagination-list {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	height: 50px;	
	margin-bottom: 60px;
}
.pagination-list li {
	margin-right: 10px;
}
.pagination-item a {
	display: inline-block;
	width: 50px;
	height: 38px;
	text-align: center;
	padding-top: 12px;
		
}
.pagination-item-current a {
	width: 46px;
	height: 34px;
}
.pagination-item:nth-child(4) a {
	width: 260px;
	text-transform: uppercase;
	margin-right: 0;
}
